@charset "UTF-8";
/* ■■■■■ ШРИФТЫ ■■■■■■■■■■■■■■■■■■■■■■ */
@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap");
/* ■■■■■ ОБНУЛЯЮЩИЕ СТИЛИ ■■■■■■■■■■■■ */
body {
  margin: 0;
}
body *, body *::before, body *::after {
  box-sizing: border-box;
}

header, nav, main, footer, section, aside,
img, picture, video, canvas, svg,
label, summary, source, iframe, embed {
  display: block;
}

img {
  max-width: 100%;
}

ul, ol, li {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
  margin: 0;
}

p {
  margin: 0;
}

input, button, textarea, select {
  display: block;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  border: none;
}

textarea {
  resize: vertical;
}

button {
  background-color: transparent;
}

button, select, input[type=submit], input[type=file], input[type=file]::-webkit-file-upload-button {
  cursor: pointer;
}

dialog {
  border: none;
  padding: 0;
}

/* ■■■■■ БАЗОВЫЕ СТИЛИ ■■■■■■■■■■■■■■■ */
html, body {
  height: 100%;
}

body {
  font-family: var(--ff-system, sans-serif);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1;
  background-color: var(--bgc);
}
@supports (-webkit-tap-highlight-color: transparent) {
  body {
    -webkit-tap-highlight-color: transparent;
  }
}

.page-wrapper {
  min-height: 100%;
  overflow: clip;
}

/* ■■■■■ УТИЛИТАРНЫЕ КЛАССЫ ■■■■■■■■■■ */
.none, [none] {
  display: none !important;
}

.scroll-lock, .lock, .no-scroll {
  overflow: hidden;
}

/* ■■■■■ КОНТЕЙНЕРЫ ■■■■■■■■■■■■■■■■■■ */
.container {
  max-width: 1000px;
  padding: 0 1rem;
  margin: 0 auto;
}
.container--xs {
  max-width: 320px;
}
.container--sm {
  max-width: 500px;
}
.container--md {
  max-width: 800px;
}
.container--lg {
  max-width: 1200px;
}

/* ■■■■■ СТИЛИ САЙТА ■■■■■■■■■■■■■■■■■ */
:root {
  --ff-body: "Rubik", sans-serif;
  --ff-heading: "Nunito", sans-serif;
  --ff-system: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  --bgc: hsl(0 0% 10%);
}

.page-wrapper {
  padding: 1rem;
  background-color: var(--bgc);
}

h1 {
  margin-block: 1.1em;
  font-size: 3rem;
  font-family: var(--ff-heading);
  color: #fff;
  font-weight: 700;
  line-height: 1.5;
}
h1 span {
  color: red;
  background-color: white;
  padding: 0.15em 0.35em;
  border-radius: 0.5em;
  font-weight: 800;
}

.tabs {
  --indicator-height: 4px;
  --indicator-color: hsl(0 100% 60%);
  --indicator-transition: 200ms;
  width: fit-content;
  display: flex;
  flex-wrap: wrap;
  font-size: 1.25rem;
  position: relative;
}
.tabs::before, .tabs::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  pointer-events: none;
}
.tabs::before {
  width: 100%;
  height: 1px;
  background-color: hsl(0deg, 0%, 30%);
}
.tabs::after {
  width: 100%;
  height: var(--indicator-height);
  transform: translateX(var(--indicator-move, 0)) scaleX(var(--indicator-width, 0));
  transform-origin: left;
  background-color: var(--indicator-color);
  transition: var(--indicator-transition);
}
.tabs__button {
  padding: 0.9em 1.7em calc(0.9em + var(--indicator-height));
  color: hsl(0deg, 0%, 60%);
  background-color: transparent;
  font-weight: 500;
  text-transform: uppercase;
  transition: color 200ms, background-color 200ms;
}
.tabs__button--active {
  color: hsl(0deg, 0%, 85%);
  background-color: hsl(0deg, 0%, 15%);
}
@media (any-hover: hover) {
  .tabs__button:hover {
    color: hsl(0deg, 0%, 85%);
  }
}

/*# sourceMappingURL=style.css.map */
